# Ignore the binary files
# /bin
# /bin/*

# Ignore Go build artifacts
*.exe
*.test
*.out
*.a
*.so

# Ignore vendor directory if you use vendoring
/vendor

# Ignore Go workspace files
go.work
go.work.sum

# Ignore IDE and editor specific files
# VSCode
.vscode/

# GoLand
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp%